server/webApi/mywebApi/obj
server/webApi/mywebApi/bin/Debug/net8.0/mywebApi.dll
server/webApi/mywebApi/bin/Debug/net8.0/mywebApi.pdb
server/webApi/mywebApi/obj/Debug/net8.0/mywebApi.AssemblyInfo.cs
server/webApi/mywebApi/obj/Debug/net8.0/mywebApi.AssemblyInfoInputs.cache
server/webApi/mywebApi/obj/Debug/net8.0/mywebApi.dll
server/webApi/mywebApi/obj/Debug/net8.0/mywebApi.pdb
server/webApi/mywebApi/obj/Debug/net8.0/mywebApi.sourcelink.json
server/webApi/mywebApi/obj/Debug/net8.0/ref/mywebApi.dll
server/webApi/mywebApi/obj/Debug/net8.0/refint/mywebApi.dll
